<div class="counter-container">
    <div class="counter-wrap">
        <h1 class="counter">{{message}}</h1>
        <h1 class="counter counter-shadowed">00<span [ngClass]="{'active': pauseOn}">:</span>00. 00</h1>
    </div>
    <div class="btns-wrap">
        <button (click)="play()" *ngIf="!pauseOn" ><fa-icon [icon]="faPlay"></fa-icon><span>PLAY</span></button>
        <button (click)="pause()" *ngIf="pauseOn"><fa-icon [icon]="faPause"></fa-icon><span>PAUSE</span></button>
        <button (click)="write()"><fa-icon [icon]="faClock"></fa-icon></button>
        <button (click)="clear()"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
</div>



<ul *ngIf="timepointsList">
    <li *ngFor="let point of timepointsList">{{point}}</li>
</ul>